* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: absolute;
  top: 20px;
  z-index: 3;
  left: 40px;
  color: #fff;
  cursor: pointer;
}

.home-cards {
  display: flex;
}

.home-cards .card {
  flex: 1;
  height: 100vh;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  background-color: #333;
  position: relative;
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.home-cards .card.active {
  flex: 1.1;
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  background-color: #555;
}

.home-cards .card .card-img {
  width: 200%;
  height: 100%;
  background-position: left;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  -webkit-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  transition: transform .5s ease;
  margin-top: -53px;
  opacity: .8;
  background-blend-mode: multiply;
}

.home-cards .card h2 {
  font-size: 40px;
  position: relative;
  top: 60%;
  left: 20%;
  z-index: 1;
}

h2 {
  color: #E5CA44;
}


h2, h2.active-title {
  -webkit-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  transition: transform .5s ease;
}

h2.active-title {
  transform: translate(10px, 0);
  color: #E5CA44;
}

h2.active-title:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E5CA44;
  z-index: 1;
  width: 200px;
  height: 5px;
}