* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eee;
}

h1 {
  position: absolute;
  top: 20px;
  z-index: 3;
  left: 40px;
  color: #333;
  cursor: pointer;
}

.home-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  transition: all .5s ease;
}

.home-cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  border-radius: 50%;
  height: 600px;
  width: 600px;
}

.home-cards .card.active {
  /* flex: 1.1; */
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  background: #E5CA44;
  animation: pulse 5s infinite;
}

.home-cards .card .card-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.home-cards .card .card-img-icon {
  width: 240px;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.home-cards .card.active .card-img {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: all 1s ease;
}

.home-cards .card h2 {
  font-size: 40px;
  position: relative;
  top: 60%;
  left: 20%;
  z-index: 1;
}

.home-cards .card.active h2 {
  color: #333;
}

@media screen and (max-width: 1400px) {
  .home-cards .card h2 {
    font-size: 32px;
    left: 16%;
  }

  .home-cards .card .card-img {
    height: 102%;
  }
}


@media screen and (max-width: 1100px) {
  .home-cards .card h2 {
    font-size: 38px;
  }

  .home-cards {
    flex-direction: column;
  }

  .home-cards .card {
    height: 25vh;
  }

  .home-cards .card .card-img {
    height: 12  0px;
    width: 120px;
  }
}

@keyframes pulse {
  0% { transform: scale(1, 1) }
  40% { transform: scale(1.1, 1.1) }
  100% { transform: scale(1, 1) }
}

h2 {
  color: #E5CA44;
}


h2, h2.active-title {
  -webkit-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  transition: transform .5s ease;
}

h2.active-title {
  transform: translate(10px, 0);
  color: #E5CA44;
}

h2.active-title:after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  background-color: #333;
  z-index: 1;
  width: 200px;
  height: 5px;
}

h3 {
  font-size: 50px;
  text-align: center;
  margin: 200px auto 200px;
  /* background: #E5CA44; */
  width: auto;
  height: 80px;
  padding: 10px;
  z-index: 99999;
}

h4 {
  font-size: 18px;
  margin: 30px 0 10px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.header > img {
  height: 26px;
  width: auto;
  cursor: pointer;
}

.detail > .specs {
  text-align: center;
  margin: -180px auto 120px;
}

.detail > .imgs {
  width: 1200px;
  margin: auto;
}

.detail > .imgs > .photo-wrapper {
  width: 100%;
  margin-bottom: 240px;
}

.detail > .imgs > .photo-wrapper> img {
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
  display: block;
}

.detail > .imgs > .photo-wrapper> p,
.video-wrapper p {
  max-width: 900px;
}

.metadata {
  display: flex;
  margin-top: 30px; 
  margin-bottom: 40px;
  align-items: center;
}

.metadata > div {
  display: flex;
  justify-content: center;
}

.metadata > div > img {
  height: 30px;
  width: auto;
}

.metadata > div > p {
  margin: 0 100px 0 18px;
  font-size: 20px;
  padding-top: 4px;
}

footer {
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.livestream {
  width: 100%;
  height: 700px;
}

.docu-wrapper {
  padding: 0 250px;
  margin-bottom: 80px;
}

.video-wrapper {
  width: 100%;
  padding: 0 120px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1250px) {
  .detail .imgs {
    width: 100%;
  }

  .detail .imgs > .photo-wrapper > *:not(img) {
    padding: 0 40px;
  }
}

@media screen and (max-width: 800px) {
  .docu-wrapper {
    padding: 0 100px;
  }

  .detail .imgs > .photo-wrapper > *:not(img) {
    padding: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .metadata {
    flex-direction: column;
    align-items: flex-start;
  }

  .metadata > div {
    margin: 10px 0;
  }

  .metadata > div > p {
    margin: 0 0 0 20px;
  }

  .docu-wrapper {
    padding: 0 40px;
  }
}

.circle-title {
  width: 200px;
  height: 200px;
  background: #E5CA44;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}