* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: absolute;
  top: 20px;
  z-index: 3;
  left: 40px;
  color: #fff;
  cursor: pointer;
}

.home-cards {
  display: flex;
}

.home-cards .card {
  flex: 1;
  height: 100vh;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  background-color: #333;
  position: relative;
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.home-cards .card.active {
  /* flex: 1.1; */
  -webkit-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  background: #E5CA44;
}

.home-cards .card .card-img {
  width: 200%;
  height: 100%;
  background-position: left;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  -webkit-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  transition: transform .5s ease;
  margin-top: -53px;
  opacity: .8;
  background-blend-mode: multiply;
}

.home-cards .card.active .card-img {
  background: none !important;
}

.home-cards .card h2 {
  font-size: 40px;
  position: relative;
  top: 60%;
  left: 20%;
  z-index: 1;
}

.home-cards .card.active h2 {
  color: #333;
}

@media screen and (max-width: 1400px) {
  .home-cards .card h2 {
    font-size: 32px;
    left: 16%;
  }

  .home-cards .card .card-img {
    height: 102%;
  }
}

@media screen and (max-width: 1100px) {
  .home-cards .card h2 {
    font-size: 38px;
  }

  .home-cards {
    flex-direction: column;
  }

  .home-cards .card {
    height: 25vh;
  }
}

h2 {
  color: #E5CA44;
}


h2, h2.active-title {
  -webkit-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  transition: transform .5s ease;
}

h2.active-title {
  transform: translate(10px, 0);
  color: #E5CA44;
}

h2.active-title:after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  background-color: #333;
  z-index: 1;
  width: 200px;
  height: 5px;
}

h3 {
  font-size: 50px;
  text-align: center;
  margin: 200px auto 200px;
  /* background: #E5CA44; */
  width: 500px;
  height: 80px;
  padding: 10px;
}

h4 {
  font-size: 18px;
  margin: 30px 0 10px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.header > img {
  height: 26px;
  width: auto;
  cursor: pointer;
}

.detail > .specs {
  text-align: center;
  margin: -180px auto 120px;
}

.detail > .imgs {
  width: 1200px;
  margin: auto;
}

.detail > .imgs > .photo-wrapper {
  width: 100%;
  margin-bottom: 240px;
}

.detail > .imgs > .photo-wrapper> img {
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
  display: block;
}

.detail > .imgs > .photo-wrapper> p {
  max-width: 900px;
}


.metadata {
  display: flex;
  margin-top: 30px; 
  margin-bottom: 40px;
  align-items: center;
}

.metadata > img {
  height: 30px;
  width: auto;
}

.metadata > p {
  margin: 0 100px 0 18px;
  font-size: 20px;
}

footer {
  height: 60px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.livestream {
  width: 100%;
  height: 700px;
}